__pycache__/
.vscode

# Exclude the segmented images created during evaluation
models/swiftnet/configs/out/*

# Exclude the onnx models
inference/models/*
TensorRT/models/*

# Ignore datasets folder except certain folders/files (!)
models/swiftnet/datasets/*
!models/swiftnet/datasets/.gitkeep
models/swiftnet/datasets/cityscapes/
!models/swiftnet/datasets/cityscapes/.gitkeep
models/swiftnet/datasets/rellis/
!models/swiftnet/datasets/rellis/.gitkeep


# Ignore weights folder except certain folders/files (!)
models/swiftnet/weights/*
!models/swiftnet/weights/.gitkeep

# Ignore inference models folder except certain folders/files (!)
inference/swiftnet/weights/*
!inference/models/.gitkeep